h1= title

P.result

p.on
	input(type="button", value="On", id="on")

p.off
	input(type="button", value="Off", id="off")

p.blink
	input(type="button", value="Blink", id="blink")

script(src="/javascripts/buttons.js", type="application/javascript")